!!!
html(lang="ja")
  head
    meta(charset="utf-8")
    title レイアウトの練習
    link(rel="stylesheet",type="text/css",href="http://yui.yahooapis.com/3.14.0/build/cssreset/cssreset-min.css")
    link(rel="stylesheet",type="text/css",href="mycss.css")
  body
    div(id="container")
      div(id="header") header
      div(id="menu") menu  
      div(id="main")
        div(id="contents") contents

        div(id="sidebar") sidebar


      div(id="footer") footer

      




      include _livereload
