!!!
html(lang="ja")
  head
    meta(charset="utf-8")
    title レイアウトの練習
    link(rel="stylesheet",type="text/css",href="http://yui.yahooapis.com/3.14.0/build/cssreset/cssreset-min.css")
    link(rel="stylesheet",type="text/css",href="mycss.css")
  body
    div#container
      div#header
        h1
          img(src="img/dummy.png",height="100",width="600")
           
      div#menu
        ul
          li
            a(href="") ホーム
          li
            a(href="") 製品情報
          li
            a(href="") 企業情報
           
      div#main
        div#contents
          h2 見出し
          p こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
          p こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
          ul.products
            li
              img(src="img/dummy.png",width="60",height="60")
              p 説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。
            li
              img(src="img/dummy.png",width="60",height="60")
              p 説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。
            li
              img(src="img/dummy.png",width="60",height="60")
              p 説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。
          h2 見出し
          div.sample
            span.badge new!
            img(src="img/dummy.png",width="60",height="60")
            p 補足。補足。
          p こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
          p こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。

        div#sidebar 
          h3 見出し
          p こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
          h3 見出し
          p こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
          ul.submenu
            li
              a(href="") menu 1
            li
              a(href="") menu 2
            li
              a(href="") menu 3

      div#footer Copyright 2013, dotinstall.com 

      




      include _livereload
