!!!
html(lang="ja")
  head
    meta(charset="utf-8")
    title レイアウトの練習
    link(rel="stylesheet",type="text/css",href="http://yui.yahooapis.com/3.14.0/build/cssreset/cssreset-min.css")
    link(rel="stylesheet",type="text/css",href="mycss.css")
  body
    div(id="container")
      div(id="header")
        h1
          img(src="img/dummy.png",height="100",width="600")
           
      div(id="menu")
        ul
          li
            a(href="") ホーム
          li
            a(href="") 製品情報
          li
            a(href="") 企業情報
           
      div(id="main")
        div(id="contents") contents

        div(id="sidebar") sidebar


      div(id="footer") Copyright 2013, dotinstall.com 

      




      include _livereload
